{% extends "home/base.tpl.html" %}


{% block title %} Pokemons {% endblock title %}


{% block content %}
<div class="container text-center">

    <div class="row justify-content-start">
        {% if pokemons %}

            {% for pokemon in pokemons %}
            <div class="col-3">
                <div class="card mb-3" style="width: 18rem;">

                    <a href="/pokemons/{{ pokemon.pokedex_number }}">
                        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/{{ pokemon.pokedex_number|stringformat:'03d'}}.png">
                    </a>

                    <div class="card-body pokemon-info">
                        <p class="card-text pokemon-pokedex-nmber">
                            <small class="text-muted">#{{ pokemon.pokedex_number|stringformat:"03d" }}</small>
                        </p>
                        <h2 class="card-title pokemon-name">{{ pokemon.name }}</h2>

                        {% if pokemon.type1 == "grass" or pokemon.type1 == "bug" %}
                            <span class="badge text-bg-success w-25">{{ pokemon.type1 | title }}</span>
                        {% elif pokemon.type1 == "fire" %}
                            <span class="badge text-bg-danger w-25">{{ pokemon.type1 | title }}</span>
                        {% else %}
                            <span class="badge text-bg-primary w-25">{{ pokemon.type1 | title }}</span>
                        {% endif %}

                        {% if pokemon.type2 %}
                            {% if pokemon.type2 == "fire" or pokemon.type2 == "fighting" or pokemon.type2 == "poison" %}
                                <span class="badge text-bg-danger w-25">{{ pokemon.type2 | title }}</span>
                            {% else %}
                                <span class="badge text-bg-secondary w-25">{{ pokemon.type2 | title }}</span>
                            {% endif %}
                        {% endif %}
                    </div>

                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if pokemons.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1">&laquo; First</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ pokemons.previous_page_number }}">Previous</a>
                                </li>
                            {% endif %}
        
                            {% if pokemons.paginator.count > 20 %}
                            <li class="page-item disabled">
                                <span class="page-link">Page {{ pokemons.number }} / {{ pokemons.paginator.num_pages }}</span>
                            </li>
                            {% endif %}

                            {% if pokemons.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ pokemons.next_page_number }}">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ pokemons.paginator.num_pages }}">Last &raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            
        {% else %}
            <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
                <h2>{{ error_message|safe }}</h2>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
