{% extends "home/base.tpl.html" %}
{% load static %}

{% block title %} Users {% endblock title %}

{% block content %}
<div class="container text-center">
    <div class="row justify-content-start">
        {% if users %}
            {% for user in users %}
            <div class="col-3 mt-3">
                <a href="{% url 'user-profile' user.username %}" class="card-link text-decoration-none text-dark">
                    <div class="card mb-3" style="width: 18rem;">
                        <img src="{% static 'avatars/' %}{{ user.profile.avatar }}.png" class="card-img-top" alt="Avatar">
                        <div class="card-body user-info">
                            <h2 class="card-title">{{ user.username }}</h2>
                            <p>Coins: {{ user.profile.coins }}</p>
                            <p>Pokemons: {{ user.profile.pokemons.count }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
                <h1>No user found, maybe you should try again?</h1>
                <div class="mt-3">
                    {% include 'home/searchbarusers.tpl.html' %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
