{% extends "home/base.tpl.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/profilestyle.css' %}">
<div class="container-fluid mt-2">
    <div class="row gx-4">
        <div class="col-12">
            <div class="card profile-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">{{ profile.user.username }}</h5>
                    <div class="coins-wrapper">
                        <p class="coins-value">{{ profile.coins }}</p>
                        <img src="{% static 'images/coin.png' %}" alt="Coin" class="coin-icon">
                    </div>                                     
                </div>
                <div class="card-body full-height">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <div class="avatar-wrapper2">
                            <img src="{% static 'avatars/' %}{{ profile.avatar }}.png" alt="Avatar" class="profile-avatar">
                        </div>
                    </div>
                    {% if profile.bio %}
                    <p class="card-text text-center">{{ profile.bio }}</p>
                    {% endif %}
                </div>
                {% if change_permission %}
                    <div class="card-footer text-muted d-flex justify-content-between">
                        <button class="btn btn-primary">Edit Profile</button>
                        <button class="btn btn-primary">Change Avatar</button>
                    </div>                
                {% endif %}                
            </div>
        </div>
    </div>
</div>

{% endblock content %}
