{% extends "home/base.tpl.html" %}
{% load static %}


{% block title %} Pokedex {% endblock title %}

{% block content %}


<div class="container text-center">

  <div id="carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <div class="carousel-inner">

      <div class="carousel-item active">
        <a href="http://www.namakanyden.sk/">
          <img src="{% static 'images/banner-namakany.den.png' %}" class="d-block w-100" alt="Namakaný deň Logo">
        </a>
        <div class="carousel-caption d-none d-md-block" style="color: black">
          <p>
            <a href="http://www.namakanyden.sk/">Namakaný deň</a> ponúka namakané webináre, workshopy a podujatia.
          </p>
        </div>
      </div>

      <div class="carousel-item">
        <a href="https://www.djangoproject.com/">
          <img src="{% static '/images/banner-django.png' %}" class="d-block w-100" alt="Django Logo">
        </a>
        <div class="carousel-caption d-none d-md-block" style="color: black">
          <p>
            <a href="https://www.djangoproject.com/">Django</a> better then ****** FastAPI
          </p>
        </div>
      </div>

      <div class="carousel-item">
        <a href="https://docs.djangoproject.com/en/5.0/topics/db/queries/">
          <img src="{% static 'images/banner-orm.png' %}" class="d-block w-100" alt="SQLModel">
        </a>
        <div class="carousel-caption d-none d-md-block" style="color: black">
          <p>
            <a href="https://docs.djangoproject.com/en/5.0/topics/db/queries/">Django ORM</a> is Django ORM
          </p>
        </div>
      </div>

      <div class="carousel-item">
        <a href="https://www.pokemon.com/us/pokedex/">
          <img src="{% static 'images/banner-pokedex.png' %}" class="d-block w-100" alt="Pokédex">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <p>
            <a href="https://www.pokemon.com/us/pokedex/">The Pokédex</a> is an electronic device designed to catalog
            and provide information regarding the various
            species of Pokémon.
          </p>
        </div>
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="d-flex justify-content-center">
    {% if request.user.is_authenticated %}
      <div>
        <h4>Find Pokémon by it's name or number:</h4>
        {% include "home/searchbar.tpl.html" %}
      </div>
    {% else %}
    <div class="mt-3">
      <h4>Sign Up or Sign In to find Pokémon.</h4>
      <div class="d-grid gap-2">
          <a href="/auth/signup/" class="btn btn-primary btn-lg mt-3">Sign Up</a>
          <a href="/auth/signin/" class="btn btn-primary btn-lg mt-3">Sign In</a>
      </div>
  </div>  
    {% endif %}
  </div>

</div>
{% endblock content %}
