<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Pokédex</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.path == '/' %}
            {% include 'links/links.home.html' %}
          {% elif request.path == '/auth/signup/' or request.path == '/auth/signin/' %}
            {% include 'links/links.sign.html' %}
          {% elif request.path == '/profile/'%}
            {% include 'links/links.profile.html' %}
          {% elif request.path|slice:"/pokemons/" %}
            {% include 'links/links.pokemons.html' %}
          {% endif %}
        </ul>
        {% include "home/searchbarpokemons.tpl.html" %}
      </div>
    </div>
  </nav>
